{% load static %}
<div class="8a" id="8a">
                <div class="con_data">

                    <p>图中有多少个小立方体</p>

                    <div class="result">
                        <p><input class="input" placeholder="" type="text"></p>
                    </div>

                    <div id="line" class="line">

                    </div>

                    <div class="question">
                        <p>按下>>进入下一题。</p>
                    </div>

                    <div class="Buttons" id="Buttons8a">

                        <input id="NextButton8a" class="NextButton Button" title=">>" name="NextButton" value=">>" data-runtime-disabled="runtime.Disabled" data-runtime-aria-label="runtime.ariaLabel" data-runtime-hide="runtime.Hide" page-id="P_1512964020388" aria-label="Next" type="button">

                    </div>
                </div>

</div>
<div id="re_8">

</div>


<script>
    $(document).ready(function(){
      $("#NextButton8a").click(function(){
          $.post("/",
          {
            page_id:'9'

          },
          function(data){

              $("#view").hide();
              $("#t1s").hide();
              $("#t1").hide();
              $("#t2s").hide();
              $("#t2").hide();
              $("#4a").hide();
              $("#t3s").hide();
              $("#t3").hide();
              $("#6a").hide();
              $("#t4").hide();
              $("#t5").hide();
              $("#8a").hide();
{#                显示t2#}
              $('#re_8').html(data);

          });
        });

    });
</script>