{% load static %}
<div class="9a" id="9a">
                <div class="con_data">

                    <p>图中共有多少处不同？</p>

                    <div class="result">
                        <p><input id="t6_re" class="input" placeholder="" type="text"></p>
                    </div>

                    <div id="line" class="line">

                    </div>

                    <div class="question">
                        <p>按下>>完成游戏。</p>
                    </div>

                    <div class="Buttons" id="Buttons9a">

                        <input id="NextButton9a" class="NextButton Button" title=">>" name="NextButton" value=">>" data-runtime-disabled="runtime.Disabled" data-runtime-aria-label="runtime.ariaLabel" data-runtime-hide="runtime.Hide" page-id="P_1512964020388" aria-label="Next" type="button">

                    </div>
                </div>

</div>
<div id="re_10">

</div>

<script>
    $(document).ready(function(){
      $("#NextButton9a").click(function(){
          var game6 = $(" #t6_re ").val();
          if (game6 === ""){

                alert('请输入数字')
            }
          else {
              var reg = /^[0-9]*$/;

          if(!reg.test(game6)){

               alert("必须输入为数字");
           }
           else {
              $.post("/Merit/",
          {
            page_id:'10',
              game6:game6,
              stu_id:{{ stu_num }}

          },
          function(data){

              $("#view").hide();
              $("#t1s").hide();
              $("#t1").hide();
              $("#t2s").hide();
              $("#t2").hide();
              $("#4a").hide();
              $("#t3s").hide();
              $("#t3").hide();
              $("#6a").hide();
              $("#t4").hide();
              $("#t5").hide();
              $("#8a").hide();
              $("#9a").hide();

{#                显示过渡业的内容#}

              $('#re_10').html(data);

          });
          }
          }


        });

    });
</script>