<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
{% load static %}
 <link href="https://cdn.bootcss.com/bootstrap/4.0.0-beta.2/css/bootstrap.css" rel="stylesheet">
 <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
 <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
 <link href="{% static 'css/index.css' %}" rel="stylesheet">
<body>

<div class="head">


</div>
 <div class="content">
        <div class="log_title">
            <div id="logo">
                <img  class="img" src="{% static 'css/img/logo.jpg' %}">
            </div>
        </div>
     
        {#        首页部分：#}
        {% if page_id == 0 %}
           {% include 't0.html' %}
        {% endif %}
        {#    题1的显示 #}
        {% if page_id == 'luck' %}
            {% include 't0_luck.html' %}
        {% endif %}

        {% if page_id == 'efficiency' %}
            {% include 'temp_effic/t0_eff.html' %}

        {% endif %}



 </div>




</body>
</html>

