<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    {% load static %}
 <link href="https://cdn.bootcss.com/bootstrap/4.0.0-beta.2/css/bootstrap.css" rel="stylesheet">
 <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
 <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 <link href="{% static 'css/admin.css' %}" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<nav class="navbar navbar-default">
              <div class="container-fluid">
                <div class="navbar-header">
                  <div class="font">
                      <span>后台管理</span>
                  </div>
                    <button type="button" class="btn btn-default navbar-btn">导出EXCEL</button>
                </div>
              </div>

            </nav>
			<table class="table">
				<thead>
					<tr>
						<th>
							学生id
						</th>
						<th>
							题号
						</th>
						<th>
							题目内容
						</th>
						<th>
							正确答案
						</th>


                        <th>
							学生答案
						</th>
                        <th>
							答题成绩
						</th>
                        <th>
							答题时间
						</th>


					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							1
						</td>
						<td>
							TB
						</td>
						<td>
							01
						</td>
						<td>
							Default
						</td>
                        <td>
							Default
						</td>
                        <td>
							Default
						</td>
                        <td>
							Default
						</td>

					</tr>



				</tbody>
			</table>
		</div>
	</div>
</div>
</body>
</html>