
{% load static %}
<div class="t1" id="t1">
    <div class="con_data">

            <p>请点击下面数字中的 8338，限时30秒</p>

            <p>倒计时:&nbsp <span class="time" id="time1">30</span></p>



    <div class="t_pic">

        <div class="span12">
                            <table class="table_1">

                                <tbody class="t_body">


                                {% for i in data %}
                                    <tr>
                                        {% for j in i %}

                                        <td>
                                            <div id="td_value_t1" class="td_value_t1">

                                                    <span>{{ j }}</span>


                                            </div>

                                        </td>
                                        {% endfor %}
                                    </tr>

                                {% endfor %}

                                </tbody>
                            </table>


		                </div>
    </div>

        <br>
                    <br>
    </div>
</div>

<div id="re_2a">

</div>

<script language="javascript" type="text/javascript">
    var i = 30;
    var intervalid;
    intervalid = setInterval("fun()", 1000);

{#    $(document).ready(function(){#}

        var nu = [];
        var count=0;

        $(".td_value_t1").click(function(){

            $(this).toggleClass("red");

        });



    function fun() {
    if (i == 0) {

        $(".red>span ").each(function () {
                nu.push($(this).text());
            });
            $.each(nu,function(index,value){
              if(value == 8338){
                  count++;
              }
            });

        $.post("/Lucky/",
          {
              page_id:'3',
              game1:count,
              stu_id:{{ stu_num }}



          },
          function(data){

              $("#view").hide();
              $("#t1s").hide();
              $("#t1").hide();
                {# 显示t1#}
              $('#re_2a').html(data);


          });
{#        window.location.href = "../index.html";#}
        clearInterval(intervalid);

    }
    document.getElementById("time1").innerHTML = i;
    i--;
    }


</script>

