{% load static %}

<div id="t1s" class="t1s">
                <div class="con_data">
                            <p>第一题:</p>
                            <p>请数一数，下面的数字中共有多少个 8338 。</p>
                            <br>
                            <p>示例:</p>

                    <div class="t_pic">

                            <div class="span12">
			<table class="table_1">

				<tbody class="t_body">


                {% for i in data %}
					<tr>
                        {% for j in i %}

						<td>
                            <div id="td_value" class="td_value">
                                {% if j == '8338' %}
                                    <span class="td_value_span">{{ j }}</span>
                                {% else %}
                                    <span>{{ j }}</span>
                                {% endif %}

                            </div>

						</td>
                        {% endfor %}
					</tr>

                {% endfor %}

				</tbody>
			</table>


		</div>





                    </div>

                <div class="result">
                    <p>答案：共<input class="input" placeholder="4" type="text">个</p>
                </div>

                <div class="Buttons" id="Buttons1">

                        <input id="NextButton1" class="NextButton Button" title=">>" name="NextButton" value=">>" data-runtime-disabled="runtime.Disabled" data-runtime-aria-label="runtime.ariaLabel" data-runtime-hide="runtime.Hide" page-id="P_1512964020388" aria-label="Next" type="button">



                </div>
                </div>

</div>
<div id="re_1">

</div>
<script>

    $(document).ready(function(){

        var nu = [];
        var count=0;

        $(".td_value").click(function(){

            $(this).toggleClass("red");

        });



        $("#NextButton1").click(function(){

            $(".red>.td_value_span ").each(function () {
                nu.push($(this).text());
            });
            $.each(nu,function(index,value){
              if(value == 8338){
                  count++;
              }
            });


              $.post("/",
              {
                page_id:'2',
                num: count

              },
              function(data){

                  $("#view").hide();
                  $("#t1s").hide();
    {#                显示t1#}
                  $('#re_1').html(data);

    {#            alert("Data: " + data);#}
              });
            });

    });

</script>

