{% load static %}
 <div class="t5" id="t5">
                <div class="con_data">
                    <p>倒计时:&nbsp<span class="time" id="time5">20</span></p>
                    <p>第五题:</p>
                    <p>请数一数，下图中共有多少个小立方体 。</p>
                    <br>
                    <div class="t_pic">
                        <img class="pic_t5" src="{% static 'css/img/t5.png' %}">
                    </div>
                    <br>
                    <br>

                </div>

 </div>
<div id="re_8a">

</div>

<script language="javascript" type="text/javascript">
    var i = 20;
    var intervalid;
    intervalid = setInterval("fun()", 1000);
    function fun() {
    if (i == 0) {

        $.post("/",
          {
            page_id:'8a'

          },
          function(data){

              $("#view").hide();
              $("#t1s").hide();
              $("#t1").hide();
              $("#t2s").hide();
              $("#t2").hide();
              $("#t3s").hide();
              $("#t3").hide();
              $("#t4").hide();
              $("#t5").hide();

                {# 显示t1#}
              $('#re_8a').html(data);


          });

        clearInterval(intervalid);

    }
    document.getElementById("time5").innerHTML = i;
    i--;
    }
</script>


