#download{
    position: absolute;
    float: left;
    right: 10px;
    top: -2px;
}
.font{
    font-size: x-large;
}
.tr_td th{
  width: 90px;
}
#refresh{
    position: absolute;
    float: left;
    left: 10px;
    top: -2px;
}